//Colors
$wonka-purple: #580A82;
$wonka-purpleLight: #9A66B5;
$yellow: #FFEA74;
$yellowLight: #FFFDE8;
$green: #A5FF74;
$greenLight: #EFFFE8;
$blue: #74B1FF;
$blueLight: #E8F0FF;
$purple: #A174FF;
$purpleLight: #F1E8FF;
$white: #ffffff;
$darkgrey: #4a4a4a;

//Fonts
@font-face{
  font-family: OleoScript;
  src: url(./fonts/OleoScript-Regular.ttf);
}
@font-face{
  font-family: ReemKufi;
  src: url('./fonts/ReemKufi-Regular.ttf');
}

$Oleo: OleoScript;
$Reem: ReemKufi;

//Mixins
//Linear Gradient Mixin
@mixin linear-gradient($angle, $color-stops...) {
  $_angle-with-vendor-prefix: "";
  $_angle: "";
  @if $angle == "to top" or $angle == "bottom" {
    $_angle-with-vendor-prefix: bottom;
    $_angle: to top;
  } @else if $angle == "to right" or $angle == "left" {
    $_angle-with-vendor-prefix: left;
    $_angle: to right;
  } @else if $angle == "to bottom" or $angle == "top" {
    $_angle-with-vendor-prefix: top;
    $_angle: to bottom;
  } @else if $angle == "to left" or $angle == "right" {
    $_angle-with-vendor-prefix: right;
    $_angle: to left;
  } @else if $angle == "to top right" or $angle == "bottom left" {
    $_angle-with-vendor-prefix: bottom left;
    $_angle: to top right;
  } @else if $angle == "to bottom right" or $angle == "top left" {
    $_angle-with-vendor-prefix: top left;
    $_angle: to bottom right;
  } @else if $angle == "to bottom left" or $angle == "top right" {
    $_angle-with-vendor-prefix: top right;
    $_angle: to bottom left;
  } @else if $angle == "to top left" or $angle == "bottom right" {
    $_angle-with-vendor-prefix: bottom right;
    $_angle: to top left;
  } @else {
    $_angle-with-vendor-prefix: $angle % 360;
    $_angle: (90 - $angle) % 360;
  }
  background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: linear-gradient($_angle, $color-stops);
}

//Material Box Shadow Mixin
@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

//Styles
section{
  padding-top: 0px;
  width: 100vw;
  min-height: 100vh;
}

.button{
  width: 115px;
  height: 35px;
  background-color: $yellowLight;
  font-family: $Reem;
  font-size: 18px;
  border-radius: 5%;
  text-align: center;
  color: $darkgrey;
  margin: 0 auto;
  display: block;
  transition: background-color 0.5s ease;
  @include box_shadow (2);
}
.button:hover{
    background-color: $yellow;
  }

//Text Styles 
.heading{
  font-family: $Oleo;
  text-align: center;
  color: $white;
  letter-spacing: 1px;
  font-weight: 300;
}

.mainText{
  font-family: $Reem;
  text-align: center;
  color: $white;
}

.siteHeading{
  margin-top: 5vh;
  font-size: 4em;
}

h1{
  @extend .heading;
  font-size: 3em;
  margin-bottom: 10px;
}

h2{
  @extend .heading;
  margin-top: 0;
  font-size: 1.8em;
}

h3{
  @extend .mainText;
  font-size: 1.2em;
}

.large{
  font-size: 1.9em;
}

p{
  @extend .mainText;

}

//Gradients
.purple{
  @include linear-gradient("bottom right", #580A82, #9A66B5);
}

.yellow{
  @include linear-gradient("bottom right", #FFEA74, #FFFDE8);
}

.green{
  @include linear-gradient("bottom right", #A5FF74, #EFFFE8);
}

.blue{
  @include linear-gradient("bottom right", #74B1FF, #E8F0FF);
}

.otherPurple{
  @include linear-gradient("bottom right", #A174FF, #F1E8FF);
}
//Image Styles
.siteImg{
  width: 20%;
  height: auto;
}

